In [ ]:
# With reference to Table , obtain the Frequency table for the
#  attribute age. From the frequency table you have obtained, calculate the
#  information gain of the frequency table while splitting on Age. (Use step
#  by step Python/Pandas commands)

In [2]:
# reading xlsx file

import pandas as pd
import numpy as np

data = pd.read_excel(r'C:\Users\KARAN\Downloads\DSML_PRACTICAL\DSML_PRACTICAL\Datasets\Age Table.xlsx')

In [3]:
data.head()

      Age  Income Married Health  Class
0   Young    High      No    Fair    No
1   Young    High      No    Good    No
2  Middle    High      No    Fair   Yes
3     Old  Medium      No    Fair   Yes
4     Old     Low     Yes    Fair   Yes

In [4]:
## Frequency Table for 'Age'

freq_table = data.groupby(['Age', 'Class']).size().unstack(fill_value=0)
print("Frequency Table for 'Age':\n", freq_table)

Frequency Table for 'Age':
 Class   No  Yes
Age
Middle   0    4
Old      2    3
Young    3    1
Young    0    1

In [5]:
## Total entropy (Class column)
total_count = len(data)
class_counts = data['Class'].value_counts()

total_entropy = -sum((count/total_count) * np.log2(count/total_count) for count in class_counts)

print(f"\nTotal Entropy: {total_entropy:.4f}")

Total Entropy: 0.9403

In [11]:
## Calculate Entropy for each Age Group

age_groups = freq_table.index
age_entropy = {}
for age in age_groups:
    age_total = freq_table.loc[age].sum()
    entropy = -sum(
        (freq_table.loc[age, cls] / age_total) * np.log2(freq_table.loc[age, cls] / age_total)
        for cls in freq_table.columns
        if freq_table.loc[age, cls] != 0  # Exclude cases where probability is zero
    )
    age_entropy[age] = max(entropy, 0)  # Ensure entropy is non-negative

print("\nEntropy for each Age group:")
for age, entropy in age_entropy.items():
    print(f"{age}: {entropy:.4f}")

Entropy for each Age group:
Middle: -0.0000
Old: 0.9710
Young: 0.8113
Young : -0.0000

In [13]:
## Weighted entropy after splitting an Age

weighted_entropy = sum(
    (freq_table.loc[age].sum() / total_count) * age_entropy[age]
    for age in age_groups
)

print(f"\nWeighted Entropy: {weighted_entropy:.4f}")

Weighted Entropy: 0.5786

In [14]:
# Step 5: Information Gain
information_gain = total_entropy - weighted_entropy
print(f"\nInformation Gain for splitting on Age: {information_gain:.4f}")

Information Gain for splitting on Age: 0.3617